<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :affiliate %><br>
    <%= f.text_field :affiliate %>
  </div>

  <div class="field">
    <%= f.label :category %><br>
    <%= f.select :category, [ 'Amateur', 'Anal', 'Arab', 'Asian', 'Babe', 'Babysitter', 'Lesbian' ], :prompt => 'Select One' %>
  </div>

  <div class="field">
    <%= f.label :video %><br>
    <%= f.file_field :video %>
  </div>

  <div class="field">
    <%= f.label :featuredone %><br>
    <%= f.file_field :featuredone %>
  </div>

  <div class="field">
    <%= f.label :featuredtwo %><br>
    <%= f.file_field :featuredtwo %>
  </div>



  

  <div class="field">
    <%= f.label :duration %><br>
    <%= f.text_field :duration %>
  </div>

  <%= f.label :tag_list %>
  <%= f.text_field :tag_list %>

  <div class="field">
    <%= f.label "Is it featured?" %> <br />
    <%= f.check_box :featured %> <br />
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
