<div class="container-fluid no-padding">
  <% @posts.each do |post| %>
    <div class="widget" >
    <%= link_to post do %>
      <div class="image b-lazy" data-src="<%= post.image %>">
      </div>

      <div class="caption">
        <h4><%= post.title %></h4>
        <div class="tag <%= post.category %>"><%= post.category %></div>

      </div>
    <% end %>
    </div>
  <% end %>
</div>



<%= link_to 'New Post', new_post_path %>
<% if user_signed_in? %>
  <ul>
  
   <% if current_user.try(:admin?) %>
    <li><%= link_to 'Submit link', new_post_path %></li>
   <% end %>
    
    <li><%= link_to 'Account', edit_user_registration_path %></li>
    <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
  </ul>
<% else %>
  <ul>
    <li><%= link_to 'Sign up', new_user_registration_path %></li>
    <li><%= link_to 'Sign in', new_user_session_path %></li>
  </ul>
<% end %>

