<h1>Listing posts</h1>

<%= @posts.tag_counts_on(:tags) %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Url</th>
      <th>Image</th>
      <th>Affiliate</th>
      <th>Duration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

    <%= @featured.title %>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.url %></td>
        <td><%= post.image %></td>
        <td><%= post.affiliate %></td>
        <td><%= post.duration %></td>
        <td><%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
