  <div class="jumbotron">
    <div class="container">
      <h1>Free HD Trailers. No Gimmicks. No Bullshit</h1>
      <p>Is the best trailer site you’ve never heard of. </p>
    </div>
  </div>

<div class="container" id="container">

  <% @posts.each do |post| %>


    <div class="widget" >

    <%= link_to post do %>
      
      <div class="image" style="background-image:url('<%= post.image %>')">
      </div>

      <div class="caption">
        <div class="tags">
          <% post.categories.each do |category| %>
              <%= link_to category_path(category) do %>
                <div class="tag <%= category.name %>">#<%= category.name %></div>
              <% end %>
          <% end %>
        </div>
        <h4><%= post.title %></h4>
        <p class="meta"><%= post.impressionist_count(:filter=>:all) %> views &middot; <a href="<%= post.url %>"><%= post.affiliate %></a> </p>
      </div> 

    <% end %>
    </div>
  <% end %>

  <div class="pagination">
    <div class="digg_pagination">
      <%= will_paginate @posts, :container => false, :inner_window => 2, :previous_label => 'Prev', :next_label => 'Next →' %>
    </div>
  </div>


</div>
