<div class="container">
  <div class="row">
    <div class="col-md-12 sorting">
      <ul>
        <li>
          <%= link_to posts_path(order: :hot), class: "#{'active' if params[:order] == 'hot'}" do %>
            Popular
          <% end %>
        </li>
        <li>
          <%= link_to posts_path(order: :recent), class: "#{'active' if params[:order] == 'recent'}" do %>
            Recent
          <% end %>

        </li>

        <li>
          <%= link_to posts_path(order: :longest), class: "#{'active' if params[:order] == 'longest'}" do %>
            Longest
          <% end %>
        </li>


        <li class="text-right">
          <a href="http://www.twitter.com/pornzo" target="_blank">@pornzo</a>
        </li>
      </ul>
    </div>
  </div>
  <% @posts.each do |post| %>
    <div class="widget" >

    <%= link_to post do %>
      
      <div class="image b-lazy" data-src="<%= post.image %>">
      </div>

      <span class="label duration"><%= post.duration %></span>

      <div class="caption">
        <h4><%= post.title %></h4>
        <p>by <%= post.affiliate %> &middot; <%= post.impressionist_count(:filter=>:all) %> views</p>
      </div>

      <!-- LINK TO TAG ENDS HERE FOR SOME REASON --> 
      <div class="caption-top">
        <% post.categories.each do |category| %>
          <%= link_to category_path(category) do %>
            <div class="tag <%= category.name %>">#<%= category.name %></div>
          <% end %>
        <% end %>
      </div>

    <% end %>
    </div>
  <% end %>

  <div class="pagination">
    <div class="digg_pagination">
      <%= will_paginate @posts, :container => false, :inner_window => 2, :previous_label => 'Prev', :next_label => 'Next →' %>
    </div>
  </div>


</div>

<script type="text/javascript" charset="utf-8">
</script>