<div class="container-fluid no-padding">
  <% @posts.each do |post| %>
    <div class="widget" >
    <%= link_to post do %>
      <div class="image b-lazy" data-src="<%= post.image %>">
      </div>

      <div class="caption">
        <h4><%= post.title %></h4>

        <div class="tag <%= post.category %>"><%= post.category %></div>
        <div class="tag <%= post.categorytwo %>"><%= post.categorytwo %></div>

      </div>
    <% end %>
    </div>
  <% end %>
</div>





