<div class="container-fluid video-wrapper">
  <div class="video-image-container" style="background-image:url(<%= @post.image %>)">
  </div>
    <div class="container">
      <video id="<%= @post.title %>" class="video-js vjs-sublime-skin video-player"
        controls preload="auto" width="854px" height="510px"
        poster="<%= @post.image %>">

       <source src="<%= @post.video_url %>" type='video/mp4' />
      </video>
    </div>
</div>

<p> <%= @post.impressionist_count %></p>



<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @post.url %>
</p>

<p>
  <strong>Image:</strong>
  <%= @post.image %>
</p>

<p>
  <strong>First Feature:</strong>
  <%= @post.featuredone %>
</p>

<p>
  <strong>2nd Feature:</strong>
  <%= @post.featuredtwo %>
</p>

<p>
  <strong>Affiliate:</strong>
  <%= @post.affiliate %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @post.duration %>
</p>



<% if @post.user == current_user %>
  <td><%= link_to 'Edit', edit_post_path(@post) %></td>
  <td><%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>