<div class="container-fluid video-wrapper">
  <div class="video-image-container" style="background-image:url(<%= @post.image %>)">
  </div>
    <div class="container video-player-wrapper">

      <div class="row">
        <div class="col-md-8">

          <div class="row">
            <div class="col-md-12">
              <div id="myElement">Loading the player...</div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 post-info">
              <div class="col-md-12 post-box">
                <div class="row">
                  <div class="col-md-8">
                    <h1><%= @post.title %></h1>
                    <h5>By <a href="<%= @post.url %>" class="affiliate"><%= @post.affiliate %> &bull; Join now for just $1!</a> </h5>

                  </div>
                  <div class="col-md-4 text-right">
                    <a class="btn"><i class="fa fa-heart icon"></i></a>
                    <a class="btn"><i class="fa fa-retweet icon"></i></a>
                    <a class="btn"><i class="fa fa-download icon"></i></a>
                    
                  </div>
                </div>


                <div class="row">
                  <div class="col-md-12">
                     <div class="tag <%= @post.category %>"><%= @post.category %></div>
                     <div class="tag <%= @post.categorytwo %>"><%= @post.categorytwo %></div>
                  </div>
                </div>


              </div>
            </div>
          </div>

        </div>

        <div class="col-md-4">
        </div>

      </div>




        <script type="text/javascript">
            jwplayer("myElement").setup({
                file: "<%= @post.video %>",
                image: "<%= @post.image %>",
                stretching: "fill",
                width: "100%",
                aspectratio: "16:9"
            });
        </script>
    </div>
</div>












<% if @post.user == current_user %>
  <td><%= link_to 'Edit', edit_post_path(@post) %></td>
  <td><%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>