<p id="notice"><%= notice %></p>

<p> <%= @post.impressionist_count %></p>



<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @post.url %>
</p>

<p>
  <strong>Image:</strong>
  <%= @post.image %>
</p>

<p>
  <strong>Affiliate:</strong>
  <%= @post.affiliate %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @post.duration %>
</p>

<video id="example_video_1" class="video-js vjs-default-skin"
  controls preload="auto" width="640" height="264"
  poster="http://video-js.zencoder.com/oceans-clip.png">

 <source src="<%= @post.video_url %>" type='video/mp4' />
</video>

<% if @post.user == current_user %>
  <td><%= link_to 'Edit', edit_post_path(@post) %></td>
  <td><%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>