<div class="container-fluid no-padding">
  <% @posts.each do |post| %>
    <div class="widget" >
    <%= link_to post do %>
      <div class="image b-lazy" data-src="<%= post.image %>">
      </div>
      <div class="img-shadow"></div>
      <div class="caption">
        <h4><%= post.title %></h4>

      <% post.categories.each do |category| %>
        <%= link_to category_path(category) do %>
          <div class="tag <%= category.name %>"><%= category.name %></div>
        <% end %>
      <% end %>

      </div>
    <% end %>
    </div>
  <% end %>
  <div class="pagination">
    <div class="digg_pagination">
      <%= will_paginate @posts, :container => false, :inner_window => 2, :previous_label => 'Prev', :next_label => 'Next →' %>
    </div>
  </div>
</div>