<div class="container-fluid no-padding">
  <% @posts.each do |post| %>
    <div class="widget" >
    <%= link_to post do %>
      <div class="image b-lazy" data-src="<%= post.image %>">
      </div>
      <div class="img-shadow"></div>
      <div class="caption">
        <h4><%= post.title %></h4>

        <% post.categories.each do |category| %>
          <% category.posts.each do |post| %>
            <%= link_to category.name, category_path(category.id) %>
          <% end %>
        <% end %>


      </div>
    <% end %>
    </div>
  <% end %>
  <%= will_paginate @posts %>
</div>