<!DOCTYPE html>
<html>
<head>
  <title>Pz </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script src="https://jwpsrv.com/library/5+TPBsz_EeSBUhJtO5t17w.js"></script>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
  <script src="//cdn.jsdelivr.net/blazy/1.3.1/blazy.min.js"></script>
  <link href="https://fontastic.s3.amazonaws.com/X9uxQeFcKw4C2ETyztppGG/icons.css" rel="stylesheet">

  
  
</head>
<body>



<nav class="navbar yamm navbar-default navbar-fixed-top">
 <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="navbar-brand">
         <a href="/">
            <div class="logo"></div>
         </a>
     </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <li>
          <a href="#" class="discover">
            <i class="icon-hashtag icon"></i>Discover <span class="caret"></span>
          </a>
          <ul>
              <div class="container">
                <div class="row">
                  <div class="col-md-2">
                    <a href="#">Hello</a>
                    <a href="#">Hello</a>
                    <a href="#">Hello</a>
                    <a href="#">Hello</a>
                    <a href="#">Hello</a>
                  </div>
                  <div class="col-md-2">
                    <a href="#">Hello</a>
                    <a href="#">Hello</a>
                    <a href="#">Hello</a>
                    <a href="#">Hello</a>
                    <a href="#">Hello</a>
                  </div>
                  <div class="col-md-2">
                    <a href="#">Hello</a>
                    <a href="#">Hello</a>
                    <a href="#">Hello</a>
                    <a href="#">Hello</a>
                    <a href="#">Hello</a>
                  </div>
                  <div class="col-md-2">
                    <a href="#">Hello</a>
                    <a href="#">Hello</a>
                    <a href="#">Hello</a>
                    <a href="#">Hello</a>
                    <a href="#">Hello</a>
                  </div>
                  <div class="col-md-2">
                    <a href="#">Hello</a>
                    <a href="#">Hello</a>
                    <a href="#">Hello</a>
                    <a href="#">Hello</a>
                    <a href="#">Hello</a>
                  </div>
                  <div class="col-md-2">
                    <a href="#">Hello</a>
                    <a href="#">Hello</a>
                    <a href="#">Hello</a>
                    <a href="#">Hello</a>
                    <a href="#">Hello</a>
                  </div>
                </div>
              </div>
          </ul>
        </li>
        <li><a href="#" class="cams"><i class="icon-record icon"></i>Cams</a></li>
        <li><a href="#" class="hd"><i class="icon-hd icon"></i>Members  <span class="label label-success">PRO</span></a></li>

      </ul>
  
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>

          <% if current_user.try(:admin?) %>
            <li><%= link_to 'Submit link', new_post_path %></li>
          <% end %>

          <li><%= link_to 'My Account', edit_user_registration_path %></li>
          <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
        <% else %>
            <li><%= link_to 'Sign up', new_user_registration_path %></li>
            <li><%= link_to 'Login', new_user_session_path %></li>
        <% end %>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<% flash.each do |name, msg| %>
	<%= content_tag(:div, msg, class: "alert alert-#{name}") %>
<% end %>



<%= yield %>






</body>
</html>
