<!DOCTYPE html>
<html>
<head>
  <title>Pz </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= metamagic %>
  
  <script src="https://jwpsrv.com/library/5+TPBsz_EeSBUhJtO5t17w.js"></script>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
  <script src="//cdn.jsdelivr.net/blazy/1.3.1/blazy.min.js"></script>
  <link href="https://fontastic.s3.amazonaws.com/X9uxQeFcKw4C2ETyztppGG/icons.css" rel="stylesheet">

  
  
</head>
<body>



<nav class="navbar yamm navbar-default navbar-fixed-top">
 <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->

    <div class="navbar-brand">
         <a href="/">
            <div class="logo"></div>
         </a>
     </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <li>
          <a href="#" class="discover">
            <i class="icon-hashtag icon"></i>Discover <span class="caret"></span>
          </a>
          <ul>
              <div class="container">
                <div class="row">
                  <div class="col-md-2">
                    <a href="/categories/Amateur">Amateur</a>
                    <a href="/categories/Anal">Anal</a>
                    <a href="/categories/Arab">Arab</a>
                    <a href="/categories/Asian">Asian</a>
                    <a href="/categories/Babe">Babe</a>
                    <a href="/categories/Babysitter">Babysitter</a>
                    <a href="/categories/BigAss">Big Ass</a>
                    <a href="/categories/BigDick">Big Dick</a>
                    <a href="/categories/BigTits">Big Tits</a>
                    <a href="/categories/Blonde">Blonde</a>
                  </div>
                  <div class="col-md-2">
                    <a href="/categories/Blowjob">Blowjob</a>
                    <a href="/categories/Bondage">Bondage</a>
                    <a href="/categories/British">British</a>
                    <a href="/categories/Brunette">Brunette</a>
                    <a href="/categories/Bukkake">Bukkake</a>
                    <a href="/categories/Cartoon">Cartoon</a>
                    <a href="/categories/Casting">Casting</a>
                    <a href="/categories/Celebrity">Celebrity</a>
                    <a href="/categories/College">College</a>
                    <a href="/categories/Compilation">Compilation</a>
                  </div>
                  <div class="col-md-2">
                    <a href="/categories/Creampie">Creampie</a>
                    <a href="/categories/Cumshots">Cumshots</a>
                    <a href="/categories/DoublePenetration">Double Penetration</a>
                    <a href="/categories/Ebony">Ebony</a>
                    <a href="/categories/Euro">Euro</a>
                    <a href="/categories/Feet">Feet</a>
                    <a href="/categories/Fetish">Fetish</a>
                    <a href="/categories/Fisting">Fisting</a>
                    <a href="/categories/ForWomen">For Women</a>
                    <a href="/categories/French">French</a>                   
                  </div>
                  <div class="col-md-2">
                    <a href="/categories/Gangbang">Gangbang</a>
                    <a href="/categories/German">German</a>
                    <a href="/categories/Handjob">Handjob</a>
                    <a href="/categories/Hardcore">Hardcore</a>
                    <a href="/categories/Indian">Indian</a>
                    <a href="/categories/Interracial">Interracial</a>
                    <a href="/categories/Italian">Italian</a>
                    <a href="/categories/Japanese">Japanese</a>
                    <a href="/categories/Korean">Korean</a>
                    <a href="/categories/Latina">Latina</a>  
                  </div>
                  <div class="col-md-2">
                    <a href="/categories/Lesbian">Lesbian</a>
                    <a href="/categories/Massage">Massage</a>
                    <a href="/categories/Masturbation">Masturbation</a>
                    <a href="/categories/Mature">Mature</a>
                    <a href="/categories/MILF">MILF</a>
                    <a href="/categories/Orgy">Orgy</a>
                    <a href="/categories/Party">Party</a>
                    <a href="/categories/Pornstar">Pornstar</a>
                    <a href="/categories/POV">POV</a>
                    <a href="/categories/Public">Public</a>  
                  </div>
                  <div class="col-md-2">
                    <a href="/categories/PussyLicking">Pussy Licking</a>
                    <a href="/categories/Reality">Reality</a>
                    <a href="/categories/RoughSex">Rough Sex</a>
                    <a href="/categories/School">School</a>
                    <a href="/categories/SmallTits">Small Tits</a>
                    <a href="/categories/Squirt">Squirt</a>
                    <a href="/categories/Teen">Teen</a>
                    <a href="/categories/Threesome">Threesome</a>
                    <a href="/categories/Toys">Toys</a>
                    <a href="/categories/Uniform">Uniform</a>  
                  </div>
                </div>
              </div>
          </ul>
        </li>
        <li><a href="#" class="cams"><i class="icon-record icon"></i>Cams</a></li>
        <li><a href="#" class="hd"><i class="icon-hd icon"></i>Members  <span class="label label-success">PRO</span></a></li>

      </ul>
  
      <ul class="nav navbar-nav navbar-right">
        <li><a><i class="fa fa-search"></i>Search</a></li>
        <% if user_signed_in? %>

          <% if current_user.try(:admin?) %>
            <li><%= link_to 'Submit link', new_post_path %></li>
          <% end %>

        <% end %>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<% flash.each do |name, msg| %>
	<%= content_tag(:div, msg, class: "alert alert-#{name}") %>
<% end %>



<%= yield %>






</body>
</html>
